* {
    box-sizing: border-box;
}

html, body {
    background: transparent;
    color: #fff;
    cursor: default;
    font-family: "Lucida Grande";
    margin: 0;
    opacity: 1;
    padding: 0;
}

body {
    opacity: 0;
}

.cover {
    display: block;
    height: 255px;
    position: relative;
    width: 255px;
    -webkit-background-size: cover !important;
}

.small .cover {
    height: 155px;
    width: 155px;
}

.track {
    font-family: "Helvetica Neue";
    font-size: 13px;
    margin: 15px 0;
    text-shadow: #333 0 1px 3px;
    width: 255px;
}

.small .track {
    font-size: 11px;
    margin-top: 10px;
    width: 155px;
}

.track .title {
    font-size: 120%;
}
