html, body {
    background: transparent;
    color: #fff;
    cursor: default;
    font-family: "Lucida Grande";
    margin: 0;
    opacity: 1;
    padding: 0;
}

body {
    opacity: 0;
}

.cover {
    display: block;
    height: 254px;
    left: 42px;
    position: relative;
    top: 10px;
    width: 258px;
    -webkit-background-size: cover !important;
}

.xs .cover {
    height: 155px;
    left: 27px;
    top: 5px;
    width: 152px;
}

.track {
    font-family: "Helvetica Neue";
    font-size: 13px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
    text-shadow: #333 0 1px 3px;
    width: 255px;
}

.xs .track {
    font-size: 11px;
    margin-top: 10px;
    width: 150px;
}

.track strong {
    display: block;
    font-size: 120%;
}
